/* Custom subtle overrides for legacy elements */
a {
  text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  outline: none;
  box-shadow: none;
}
